// IMPORTS ---------------------------------------------------------------------
@import "normalize";

// VARIABLES -------------------------------------------------------------------
$white     : #ffffff;
$lightGrey : #fcfcfc;
$grey      : #dfdfdf;
$darkGrey  : #83898d;
$black     : #404a51;

// FONTS -----------------------------------------------------------------------
$font-url    :  'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
$font-family :  'Open Sans', sans-serif;

//Font Weights
$font-weight-light  : 300;
$font-weight-regular: 400;
$font-weight-medium : 600;
$font-weight-bold   : 700;

// STYLES ----------------------------------------------------------------------
* {
	box-sizing: border-box;
}

body {
  background-color: $lightGrey;
  font-family: $font-family;
}

main {
  padding: 1em;
}

h1, h2 {
  color: $black;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

h2 {
  font-weight: $font-weight-medium;
  margin: .3em;
}

p {
  margin: 0.3em;
  color: $darkGrey;
  font-weight: $font-weight-light;
  text-align: center;
}

hr {
  width: 100%;
  border: 0.5px solid $grey;
}

#overlay {
  //Flexbox
  display: flex;
	flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //----------------
  position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 178, 178, 0.5);
}

#employees {
  //Flexbox
  display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //----------------
}

.employee-card {
  //Flexbox
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //----------------
  min-width: 300px;
  margin-bottom: 1em;
  padding: 1em;
  background: $white;
  border: 2px solid $grey;
  border-radius: 5px;
}

.portrait {
  border-radius: 50%;
  max-width: 128px;
}

.close-card {
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;

  position: fixed;
	top: 1em;
  right: 1em;

  &:hover {
    opacity: 1;
  }
}
